---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- lxgw -->
    <link
      rel="stylesheet"
      href="https://npm.elemecdn.com/lxgw-wenkai-screen-webfont@1.7.0/style.css"
      media="print"
      onload="this.media='all'"
    />
    <!-- 代码高亮 -->
    <link
      rel="stylesheet"
      href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/prism-themes/1.9.0/prism-shades-of-purple.min.css"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <slot />
    <hr class="border-gray-200 dark:border-gray-600" />
    <Footer />
  </body>
</html>
